# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
dist/
.build/
.cache/
coverage/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Misc
*.local
apps/frontend/.next/